*.pyc
*.swp
Fundani/Fundani/version
Fundani/Fundani/www/chat_content.html
image_stuff/*
Fundani_ws_*
Fundani-ws_*
tmp/*
Fundani/Fundani/bin/miniircd.py
Fundani/Fundani/www/Shared
Fundani/Fundani/www/cgi-bin/data.pso
